div,
input,
textarea {
    box-sizing: border-box;
}

* {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
}

/* Header */

#header {
    border-bottom: 1px solid #eee;
    /* 컨텐츠 추가후 패딩으로 넣으면 지울 마진바텀 */
    margin-bottom: 10px;
}
/* 블로그 이름 */

#header h1 {
    padding: 23px 0;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 800;
    font-size: 1.75em;
    line-height: 32px;
    letter-spacing: -0.2px;
}

/* 블로그 네비게이션 */

.header-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
}

.header-list > div {
    padding: 0 26px;
    cursor: pointer;
}

.header-list > li {
    cursor: pointer;
    position: relative;
    display: inline-block; /* li를 블록 요소로 변경 */
    padding: 1.375rem 26px 1.5rem;
    font-size: 1.125rem; 
    line-height: 1.25; 
    color: #8492a6;
}

.header-list > li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; /* 가운데 정렬 */
    transform: translateX(-50%); /* 가운데 정렬을 위한 변형 */
    width: 0;
    height: 0.25rem; 
    background-color: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.header-list > li.clicked::after {
    width: 60%;
    background-color: black;
}

.header-list > li:hover {
    color: black; 
}
.header-list > li:hover::after {
    width: 60%;    
    background-color: black;
}

.header-list > li.clicked {
    color: black;
}

/* Main */
main {
    position: relative;
    padding-bottom: 30px; /* footer 높이만큼 여백 추가 */
    height: 600px;
}

.content-wrap {
    display: flex;
    justify-content: flex-start;
    height: 100%; /* 부모 요소에 맞추기 위해 높이를 100%로 설정 */
}

.content-list {
    display: block;
    border-right: 1px solid #eee;    
    padding: 20px;
    height: 100%;     
}

.sidebar {
    display: block;
    padding: 20px;
    height: 600px;
    border-left: 1px solid #eee;    
}

.btn-class {    
    display: flex;
    width: 120px;
}
.post-section {
    width: 620px;
}

/* 글 쓰기 부분 */

/* 폼 스타일링 */
form {
    margin: 20px auto;
    width: 600px;
    padding: 20px;
    height: 600px;    
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    background-color: #e6e6e6;
}

form div {
    margin-bottom: 20px;
}
#writeForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name-password{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    margin-top: 10px;
}
.name-password input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 265px;
    height: 35px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 4px;
}


.title-content {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#writeForm #title,
form textarea,
#guestbook-form #message {
    width: 540px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;    
    font-size: 16px;
    margin-bottom: 10px;
}

#writeForm textarea {
    margin-bottom: 10px;
    height: 300px;
}

#guestbook-form #message {
    margin-bottom: 10px;
    height: 40px;
}



.submit-wrap {
    display: flex;
    justify-content: center;
}
.submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 5px;
    width: 30%;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #0158b4;
    transform: scale(1.2);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* 방명록 폼 */
#guestbook-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
}

/* Footer */

.footer {       
    width: 100%;
    height: 30px; /* 적절한 높이 설정 */
    padding: 20px;
    border-top: 1px solid #eee;
}
