div,
input,
textarea {
    box-sizing: border-box;
}

* {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
}

/* Header */

#header {
    border-bottom: 1px solid #eee;
    /* 컨텐츠 추가후 패딩으로 넣으면 지울 마진바텀 */
    margin-bottom: 10px;
}
/* 블로그 이름 */

#header h1 {
    padding: 23px 0;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 800;
    font-size: 1.75em;
    line-height: 32px;
    letter-spacing: -0.2px;
}

/* 블로그 네비게이션 */

.header-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
}

.header-list div {
    padding: 0 26px;
    cursor: pointer;
}.header-list div li {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 22px 4px 24px; 
    font-size: 18px;
    line-height: 20px;
    color: #8492a6;    
}

.header-list div li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.header-list div li.clicked::after {
    width: 100%;
    background-color: black;
}

.header-list div li.clicked {
    color: black;
}

/* Main */
main {
    position: relative;
    padding-bottom: 30px; /* footer 높이만큼 여백 추가 */
    height: 600px;
}

.content-wrap {
    display: flex;
    justify-content: center;
    height: 100%; /* 부모 요소에 맞추기 위해 높이를 100%로 설정 */
}

.content-list {
    display: block;
    border-right: 1px solid #eee;    
    padding: 20px;
    height: 100%; 
    flex-grow: 1;
}

.sidebar {
    display: block;
    padding: 20px;
    height: 600px;
    border-left: 1px solid #eee;    
}

.btn-class {    
    display: flex;
    width: 120px;
}

/* 글 쓰기 부분 */

/* 폼 스타일링 */
form {
    margin: 20px auto;
    width: 600px;
    padding: 20px;
    height: 600px;    
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    background-color: #e6e6e6;
}

form div {
    margin-bottom: 20px;
}
#writeForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#writeForm #name,
#writeForm #password {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 230px;
    height: 35px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 10px;
}

#name-password{
    display: flex;
    justify-content: center;
}

#title-content {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#writeForm #title,
#writeForm #content {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;    
    font-size: 16px;
    margin-bottom: 10px;
}

#writeForm #content {
    height: 300px;
}

form textarea {
    height: 150px; /* 여러 줄 입력 필드의 높이 조정 */
}
#submit-btn {
    display: flex;
    justify-content: center;
}
.write-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 5px;
    width: 90%;
    cursor: pointer;
    font-size: 16px;
}

.write-btn:hover {
    background-color: #0158b4;
    transform: scale(1.2);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}




/* Footer */

.footer {       
    width: 100%;
    height: 30px; /* 적절한 높이 설정 */
    padding: 20px;
    border-top: 1px solid #eee;
}
